<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">
      <h2 class="fs-4">Dashboard</h2>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{path('evenement_index')}}" class="nav-link link-dark" aria-current="page">
          Evenement
        </a>
      </li>
      <li>
        <a href="{{path('oeuvre_index')}}" class="nav-link link-dark">
          Oeuvre
        </a>
      </li>
      <li>
        <a href="{{path('artiste_index')}}" class="nav-link link-dark">
          Artiste
        </a>
      </li>
      <li>
        <a href="{{path('lieu_index')}}" class="nav-link link-dark">
          Lieu
        </a>
      </li>
      <li>
        <a href="{{path('type_index')}}" class="nav-link link-dark">
          Type
        </a>
      </li>
    </ul>
    <hr>
  </div>